@import url(./reset.css);
@font-face {
    font-family:'Ysabeau-Medium';
    src: url(../fonts/static/Ysabeau-Medium.ttf);
}

/*-------------------------------------
            PORTABLE FIRST
---------------------------------------*/

body{
    background-color: #eeeeee;
    font-family: 'Ysabeau-Medium';
}
/* ------------------------
        NAV + BANNER
-------------------------- */
header{
    height: 30rem;
  
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    color: #a0cbd1;
    height: 6rem;
}

.logo{
   width: 7rem;
   padding: 1rem;
}

.menu1{
    display: flex;
    flex-direction: column;
    width: 0%;
    height: calc(100vw - 6rem);
    position: absolute;
    top: 6rem;
    right: 0;
    list-style-type: none;
}
.show_nav {
    background-color: #b59898fa;
    z-index: 1;
    width: 100%;
    text-align: center;
    height: 20rem;
}
.menu1 li{
    font-size: 1.5rem;
    font-weight: bold;
    padding-left: 1rem;
}

.menu1 a {
    display: block;
    padding: 1rem;
    font-size: 1.6rem;
    text-decoration: none;
    color: #a0cbd1;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
}

.menu1 a::after{
    display: block;
    margin-top: 0.5rem;
    content: "";
    width: 0;
    height: 2px;
    background:#a0cbd1;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}
.show_nav a:hover{
    padding-left: 2rem;
    font-size: 1.6rem;
    letter-spacing: 0.5rem;
}
.menu1 li:hover > a::after{
    width: 100%;
}
/* toggle menu */
.burger{
    display: block;
    position:relative;
    width: 4.5rem;
    height: 4.5rem;
    border: none;
    background: transparent;
    cursor: pointer;
}
.bar{
    display: block;
    width: 4.5rem;
    height: 0.4rem;
    background: #dbbbba;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.bar::before, .bar::after{
    content: "";
    position: absolute;
    display: block;
    width: 4.5rem;
    height: 0.4rem;
    background: #dbbbba;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.bar::before{
    transform: translateY(-12px) ;
    -webkit-transform: translateY(-12px) ;
    -moz-transform: translateY(-12px) ;
    -ms-transform: translateY(-12px) ;
    -o-transform: translateY(-12px) ;
}
 
 .bar::after{
     transform: translateY(12px) ;
     -webkit-transform: translateY(12px) ;
     -moz-transform: translateY(12px) ;
     -ms-transform: translateY(12px) ;
     -o-transform: translateY(12px) ;
}
.show_nav .bar{
    width: ;
}
/* banner */
.show_containeur1{
    top:20rem;
}
.containeur1{
    display: flex;
    flex-direction: column;
    background-image: url(../img/bg_hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 40rem;
    position: relative;
}
.sous-containeur1{
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 2rem;
    left: 2rem;
    width: 28rem;
    height: 31rem;
    background-color: #00000069;
    border-radius: 5px;
}

.sous-containeur1 h1{
    font-size: 2rem;
    color: #fff;
}
.sous-containeur1 h2{
    color: #dcd2c9;
}
.sous-containeur1 p{
    color:#dcd2c9;
}
.sous-containeur1 a{
    text-decoration: none;
    font-size: 2.3rem;
    border: 1px solid #dcd2c9;
    width: 100%;
    padding: 5px;
    color:#dcd2c9;
    border-radius: 5px;
    margin-top: 15px;
}
/* ------------------------------
        SECTION TENDANCE
------------------------------ */
.containeur2{
    display: flex;
    flex-direction: column;
    margin-top: 17rem;
    align-items: center;
    padding: 2rem;
    text-align: center;
    
}
.containeur2 img{
    border: 3px solid #aed4cf;
    padding: 1rem;
    aspect-ratio: 1 / 1;
    width: 40%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.containeur2 h1{
    font-size: 2rem;
    margin-bottom: 1rem;
}
.trait1{
    width: 15rem;
    height: 2px;
    background-color: #e1b9b9;
    margin-bottom: 1rem;
}
/* -------------------
    SECTION PIECES
-------------------- */
#pieces{
    background-color: #fff;
}
.containeur3{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.containeur3 h1{
    margin-bottom: 1rem;
    font-size: 2rem;
}

.containeur3 h3{
    font-size: 2rem;
    margin-top: 2rem;
    color: #b59898;
}

.trait2{
    width: 25rem;
    color: #905959;
    margin-bottom: 3rem;

}

.containeur4{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 3rem;
    flex-wrap: wrap;
    margin-bottom: 4rem;
}

.trait2{
    width: 32rem;
    height: 2px;
    background-color: #e1b9b9;
    margin-bottom: 1rem;
}
.design{
    display: flex;
    flex-direction: column;
    margin-left:1rem;
    width: 20rem;
    height: 16rem;
    margin-bottom: 2rem;
    border-radius: 5px;
    border: 1px solid #dcd2c9;

}
.design img {
    width: 20rem;
    height: 10rem;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 1rem;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.design h1 {
    font-size: 2rem;
    padding: 1rem;
    margin-bottom: 1rem;
}

.design P{
    display:none;
    font-size: 1.3rem;
    padding: 1rem;
}
/* ------------------------
    SECTION TEMOIGNAGES
------------------------- */
#temoignage{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/bg_temoignage.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 44rem;
    position: relative;
  
}
.containeur5{
    background-color: #ffffff8f;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
    position: absolute;
    width: 30rem;
    aspect-ratio: 1/1;
    padding: 2rem;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}
.containeur5 h1{
    font-size: 2.5rem;
}
.containeur5 h2{
    margin-top: 1rem;
    margin-bottom: 0.3rem;
}

.containeur5 img{
    margin-top: 2rem;
    border: 1px solid #905959;
    padding: 0.3rem;
    aspect-ratio: 1 / 1;
    width: 30%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.containeur5 p{
    text-align: center;
}
/* ------SECTION PRODUITS--------- */
.produits{
    width: 45rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.containeur6 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containeur6 h1{
    font-size: 2rem;
}
.containeur6 h2{
    margin-top: 1rem;
    font-size: 1rem;

}
.trait3{
    width: 28rem;
    height: 2px;
    background-color: #e1b9b9;
    margin-bottom: 1.5rem;
 
}
.containeur7{
    display: flex;
    flex-direction: column;
   align-items: center;
}

.produit{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #dcd2c9;
    margin: 0.3rem;
    width: 30rem;
    gap: 2rem;
    padding: 1rem;
    align-items: center;
    margin-bottom: 2rem;
}
.produit img{
    margin-right: 1rem;
    width: 5rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.txt-produit{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.txt-produit h2{
    font-size: 1.5rem;
}

.txt-produit p{
    margin-right: 1rem;
    text-align: justify;
}
.txt-produit button{
    padding: 1rem;
    margin-top: 1rem;
    background-color: #b34848;
    border-radius: 14px;
    color: #fff;
    border: none;
    font-size: 1rem;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
}
.txt-produit a{
    text-decoration: none;
    color: #fff;
}
.produit span{
    font-size: 3rem;
}

/* ------------------
        FOOTER 
--------------------- */
.menu2 {
    margin: 2rem;
display: flex;
list-style-type: none;
padding:1rem;
justify-content: center;
}
.menu2 li {
    display: grid;
    margin-left: 2rem;
}
.menu2 a{
    color: rgb(70, 69, 69);
    text-decoration: none;
    font-size: 1.3rem;
}
.menu2 a:hover{
    color: #000;
    font-weight: bold;
}
.contact{
     display: flex;
     flex-direction: column;
    justify-content: center;
    background-color: #fff;
    text-align: center;
    position: relative;
}
.form{
    display: flex;
    flex-direction: column;
    width: 30rem;
    padding: 2rem;
    align-self: center;
    text-align: start;
   
}
.form label{
    padding: 0.5rem;

}
footer > * {
    text-align: center;
}
footer{
    display: flex;
    flex-direction: column;
    background-color: #cadff2;
    color: rgb(70, 69, 69);
}
footer p{
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 1rem;
    font-style: italic;
}
/*-------------------------------------
            VERSION TABLET
---------------------------------------*/
@media screen and (min-width: 765px) {
.sous-containeur1{
    top: 6rem;
    left: 10rem;
    width: 45rem;
    height: 25rem;
}
.sous-containeur1 a{
    width: 60%;
    margin: auto;
}

}
/*-------------------------------------
            VERSION PC
---------------------------------------*/    
@media screen and (min-width: 1015px) {
    .burger{
        display: none;
    }
    .menu1{
        position: inherit;
        display: flex;
        top:2rem;
        margin-right: 2rem;
        flex-direction: row;
        width: 100%;
        height: 6rem;
        list-style-type: none;
        justify-content: flex-end;
    }

    .menu1 li{
        font-size: 1.5rem;
        font-weight: bold;
        padding-left: 1rem;
    }
    
   .menu1 a {
        text-decoration: none;
        color: #a0cbd1;
        
}
    .menu1 a:hover{
        letter-spacing: none;
    }
    .menu1 a::after{
        display: block;
        margin-top: 0.5rem;
        content: "";
        width: 0;
        height: 2px;
        background:#a0cbd1;
        transition: 1s;
        -webkit-transition: 1s;
        -moz-transition: 1s;
        -ms-transition: 1s;
        -o-transition: 1s;
}
    
    .menu1 li:hover > a::after{
        width: 100%;
    }

    .containeur1{
        height: 30rem;
    }
    .sous-containeur1{
        top: 2rem;
        left: 30rem;
        width: 49rem;
        height: 24rem;
    }

    .sous-containeur1 a{
        font-size: 1.3rem;
        width: 31%;
    }
    .containeur2{
        margin-top: 8rem;
    }
    .containeur2 img{
        width: 10%;
        border: 3px solid #aed4cf;
    padding: 0.5rem;
    }
    .containeur2 h1{
        font-size: 3rem;
    }
    .containeur3 h1{
        font-size: 3rem;
    }
    .design{
        height: 36rem;
    }
    .design P {
        display:flex;
    }

    .containeur5{
        width: 40rem;
    }
    .containeur5 h1{
        font-size: 1rem;
    }

    .produit{
        display: flex;
        flex-direction: row;
        width: 50rem;
    }
    .produit span{
        font-size: 2rem;
    }
}